    html {
        border: 2px solid #2ac4dfde;;
        border-radius: 10px;
        position: relative;
    }
    body {
        text-align: center;
        justify-content: center;
        align-items: center;
        background-color: rgb(9, 36, 93);
        color: #2ac4dfde;
        font-family: 'Brush Script MT', cursive;
        font-size: larger;
    }

    h1 {
        font-size: 5vh;
    }

    .profile {
        border: 4px solid grey;
        border-radius: 10px;
        border-style: inset;
        width: 50%;
        margin: 10vh auto;
        box-shadow: 0 0 10px #2ac4dfde, inset 0 0 5px #2ac4dfde;
        font-size: 5vh;

    }
    .start {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    .about {
        width:100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills {
        width:100vw;
        height: 100vh;
    }

    .pic {
        border: 1px solid grey;
        border-radius: 50%;
        border-style: outset;
        width: 25%;
    }

    fieldset {
        border: 3px solid grey;
        width: 95%;
        border-radius: 10px;
        font-size: 3vh;
        font-family: Garamond, serif;
        box-shadow: 0 0 10px #2ac4dfde, inset 0 0 5px #2ac4dfde;
        justify-content: center;
        align-items: center;
    }
    legend{
        background-color: rgb(9, 36, 93);
    }

    hr {
        border: 1px solid grey;
        width: 100%;
        border-style: inset;
    }

    footer {
        border: 3px solid grey;
        width: 100%;
        border-radius: 10px;
        border-style: inset;
        font-size: x-large;
        font-family: Garamond, serif;
        background-color: rgb(5, 23, 61);
        color: white;
    }

    a:link, a:visited {
        color: #04d9ff;
    }

    .skills-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 10vh;
        padding: 3vh;
    }

    .sub {
        border: 1px solid grey;
        border-radius: 10px;
        border-style: inset;
        width: 90%;
        margin: 10px auto;
        box-shadow: 0 0 10px #2ac4dfde, inset 0 0 5px #2ac4dfde;
        padding: 3vh;
        background-color: rgb(5, 23, 61);
    }

    .sub:hover {
        cursor:pointer;
        transform: scale(1.05);
        box-shadow: 0 0 15px #2ac4dfde, inset 0 0 5px rgb(5, 23, 61);
    }


    img {
        border-radius: 30px;
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .facebook {
        border-radius: 60%;
    }

    .social img {
        width: 5vh;
        height: auto;
    }

    .social img:hover {
        transform: scale(1.1);
    }